spring:
  application:
    name: subscription-killer-api
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${DB_ENDPOINT}:5432/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
app:
  cors:
    allowed-methods:
      - GET
      - POST
      - PUT
      - DELETE
      - OPTIONS
    max-age: 3600

---
spring:
  config:
    activate:
      on-profile: production
app:
  cors:
    allowed-origins:
      - https://subscription-killer-git-main-matchalab-project.vercel.app
---
spring:
  config:
    activate:
      on-profile: development
app:
  cors:
    allowed-origins:
      - https://subscription-killer-git-main-matchalab-project.vercel.app
      - https://subscription-killer-git-staging-matchalab-project.vercel.app
      - https://localhost:3000
logging:
  level:
    org:
      springframework:
        security: DEBUG
---
spring:
  config:
    activate:
      on-profile: local
